
/*! 
 * Base CSS for pdf2htmlEX
 * Copyright 2012,2013 Lu Wang <coolwanglu@gmail.com> 
 * https://github.com/pdf2htmlEX/pdf2htmlEX/blob/master/share/LICENSE
 */#sidebar{position:absolute;top:0;left:0;bottom:0;width:250px;padding:0;margin:0;overflow:auto}#page-container{position:absolute;top:0;left:0;margin:0;padding:0;border:0}@media screen{#sidebar.opened+#page-container{left:250px}#page-container{bottom:0;right:0;overflow:auto}.loading-indicator{display:none}.loading-indicator.active{display:block;position:absolute;width:64px;height:64px;top:50%;left:50%;margin-top:-32px;margin-left:-32px}.loading-indicator img{position:absolute;top:0;left:0;bottom:0;right:0}}@media print{@page{margin:0}html{margin:0}body{margin:0;-webkit-print-color-adjust:exact}#sidebar{display:none}#page-container{width:auto;height:auto;overflow:visible;background-color:transparent}.d{display:none}}.pf{position:relative;background-color:white;overflow:hidden;margin:0;border:0}.pc{position:absolute;border:0;padding:0;margin:0;top:0;left:0;width:100%;height:100%;overflow:hidden;display:block;transform-origin:0 0;-ms-transform-origin:0 0;-webkit-transform-origin:0 0}.pc.opened{display:block}.bf{position:absolute;border:0;margin:0;top:0;bottom:0;width:100%;height:100%;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none}.bi{position:absolute;border:0;margin:0;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none}@media print{.pf{margin:0;box-shadow:none;page-break-after:always;page-break-inside:avoid}@-moz-document url-prefix(){.pf{overflow:visible;border:1px solid #fff}.pc{overflow:visible}}}.c{position:absolute;border:0;padding:0;margin:0;overflow:hidden;display:block}.t{position:absolute;white-space:pre;font-size:1px;transform-origin:0 100%;-ms-transform-origin:0 100%;-webkit-transform-origin:0 100%;unicode-bidi:bidi-override;-moz-font-feature-settings:"liga" 0}.t:after{content:''}.t:before{content:'';display:inline-block}.t span{position:relative;unicode-bidi:bidi-override}._{display:inline-block;color:transparent;z-index:-1}::selection{background:rgba(127,255,255,0.4)}::-moz-selection{background:rgba(127,255,255,0.4)}.pi{display:none}.d{position:absolute;transform-origin:0 100%;-ms-transform-origin:0 100%;-webkit-transform-origin:0 100%}.it{border:0;background-color:rgba(255,255,255,0.0)}.ir:hover{cursor:pointer}

/*! 
 * Fancy styles for pdf2htmlEX
 * Copyright 2012,2013 Lu Wang <coolwanglu@gmail.com> 
 * https://github.com/pdf2htmlEX/pdf2htmlEX/blob/master/share/LICENSE
 */@keyframes fadein{from{opacity:0}to{opacity:1}}@-webkit-keyframes fadein{from{opacity:0}to{opacity:1}}@keyframes swing{0{transform:rotate(0)}10%{transform:rotate(0)}90%{transform:rotate(720deg)}100%{transform:rotate(720deg)}}@-webkit-keyframes swing{0{-webkit-transform:rotate(0)}10%{-webkit-transform:rotate(0)}90%{-webkit-transform:rotate(720deg)}100%{-webkit-transform:rotate(720deg)}}@media screen{#sidebar{background-color:#2f3236;background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjQiPgo8cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMNCA0Wk00IDBMMCA0WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+")}#outline{font-family:Georgia,Times,"Times New Roman",serif;font-size:13px;margin:2em 1em}#outline ul{padding:0}#outline li{list-style-type:none;margin:1em 0}#outline li>ul{margin-left:1em}#outline a,#outline a:visited,#outline a:hover,#outline a:active{line-height:1.2;color:#e8e8e8;text-overflow:ellipsis;white-space:nowrap;text-decoration:none;display:block;overflow:hidden;outline:0}#outline a:hover{color:#0cf}#page-container{background-color:#9e9e9e;background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");-webkit-transition:left 500ms;transition:left 500ms}.pf{margin:13px auto;box-shadow:1px 1px 3px 1px #333;border-collapse:separate}.pc.opened{-webkit-animation:fadein 100ms;animation:fadein 100ms}.loading-indicator.active{-webkit-animation:swing 1.5s ease-in-out .01s infinite alternate none;animation:swing 1.5s ease-in-out .01s infinite alternate none}.checked{background:no-repeat url(assets/checkbox.png)}}

.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url('fonts/ff1.woff')format("woff");}.ff1{font-family:ff1;line-height:1.093994;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url('fonts/ff2.woff')format("woff");}.ff2{font-family:ff2;line-height:0.773926;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url('fonts/ff3.woff')format("woff");}.ff3{font-family:ff3;line-height:0.808838;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url('fonts/ff4.woff')format("woff");}.ff4{font-family:ff4;line-height:0.771484;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url('fonts/ff5.woff')format("woff");}.ff5{font-family:ff5;line-height:1.135986;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url('fonts/ff6.woff')format("woff");}.ff6{font-family:ff6;line-height:1.126953;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url('fonts/ff7.woff')format("woff");}.ff7{font-family:ff7;line-height:0.804443;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url('fonts/ff8.woff')format("woff");}.ff8{font-family:ff8;line-height:1.147949;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url('fonts/ff9.woff')format("woff");}.ff9{font-family:ff9;line-height:0.807617;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url('fonts/ffa.woff')format("woff");}.ffa{font-family:ffa;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url('fonts/ffb.woff')format("woff");}.ffb{font-family:ffb;line-height:0.675537;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url('fonts/ffc.woff')format("woff");}.ffc{font-family:ffc;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url('fonts/ffd.woff')format("woff");}.ffd{font-family:ffd;line-height:1.336426;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.000000,-0.375000,0.375000,0.000000,0,0);-ms-transform:matrix(0.000000,-0.375000,0.375000,0.000000,0,0);-webkit-transform:matrix(0.000000,-0.375000,0.375000,0.000000,0,0);}
.m3{transform:matrix(0.337500,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.337500,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.337500,0.000000,0.000000,0.375000,0,0);}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.m2{transform:matrix(0.412500,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.412500,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.412500,0.000000,0.000000,0.375000,0,0);}
.v0{vertical-align:0.000000px;}
.lsc6{letter-spacing:-2.952400px;}
.ls7{letter-spacing:-1.601600px;}
.ls91{letter-spacing:-1.523200px;}
.ls9f{letter-spacing:-1.460800px;}
.ls7c{letter-spacing:-1.445600px;}
.ls9e{letter-spacing:-1.421200px;}
.ls78{letter-spacing:-1.419600px;}
.ls7e{letter-spacing:-1.414400px;}
.ls7b{letter-spacing:-1.393600px;}
.lsc5{letter-spacing:-1.367600px;}
.ls7d{letter-spacing:-1.362400px;}
.ls9d{letter-spacing:-1.346400px;}
.lsc3{letter-spacing:-1.331200px;}
.ls9c{letter-spacing:-1.311200px;}
.ls8{letter-spacing:-1.276000px;}
.ls9b{letter-spacing:-1.271600px;}
.ls89{letter-spacing:-1.263600px;}
.ls92{letter-spacing:-1.240800px;}
.ls6{letter-spacing:-1.214400px;}
.lsc8{letter-spacing:-1.170400px;}
.lsc7{letter-spacing:-1.166000px;}
.ls73{letter-spacing:-1.147200px;}
.ls8a{letter-spacing:-1.139600px;}
.ls74{letter-spacing:-1.135200px;}
.lsc4{letter-spacing:-1.038400px;}
.ls22{letter-spacing:-0.873600px;}
.ls1f{letter-spacing:-0.859200px;}
.ls21{letter-spacing:-0.854400px;}
.ls23{letter-spacing:-0.825600px;}
.ls1e{letter-spacing:-0.811200px;}
.lsc1{letter-spacing:-0.759200px;}
.ls8c{letter-spacing:-0.717600px;}
.lsb9{letter-spacing:-0.710400px;}
.lsc2{letter-spacing:-0.707200px;}
.ls8b{letter-spacing:-0.665600px;}
.ls1d{letter-spacing:-0.662400px;}
.ls64{letter-spacing:-0.628800px;}
.ls60{letter-spacing:-0.624000px;}
.ls1c{letter-spacing:-0.614400px;}
.ls63{letter-spacing:-0.589600px;}
.ls62{letter-spacing:-0.571200px;}
.ls5f{letter-spacing:-0.537600px;}
.ls5d{letter-spacing:-0.489600px;}
.lsd4{letter-spacing:-0.436800px;}
.lsbe{letter-spacing:-0.432000px;}
.lsd3{letter-spacing:-0.427200px;}
.lsd2{letter-spacing:-0.422400px;}
.ls82{letter-spacing:-0.405600px;}
.ls83{letter-spacing:-0.400400px;}
.ls12{letter-spacing:-0.398400px;}
.lscb{letter-spacing:-0.395200px;}
.lsd5{letter-spacing:-0.388800px;}
.lsc9{letter-spacing:-0.384800px;}
.lsd0{letter-spacing:-0.384000px;}
.ls13{letter-spacing:-0.382800px;}
.ls7f{letter-spacing:-0.379600px;}
.ls80{letter-spacing:-0.364000px;}
.lsd1{letter-spacing:-0.350400px;}
.lsca{letter-spacing:-0.343200px;}
.lsc0{letter-spacing:-0.316800px;}
.ls75{letter-spacing:-0.306800px;}
.ls4a{letter-spacing:-0.296400px;}
.lsd6{letter-spacing:-0.292800px;}
.lsd9{letter-spacing:-0.283200px;}
.lsda{letter-spacing:-0.278400px;}
.lsdc{letter-spacing:-0.273600px;}
.ls18{letter-spacing:-0.268800px;}
.lsd8{letter-spacing:-0.264000px;}
.ls1a{letter-spacing:-0.263200px;}
.ls6e{letter-spacing:-0.254400px;}
.ls52{letter-spacing:-0.249600px;}
.lscf{letter-spacing:-0.244800px;}
.ls5e{letter-spacing:-0.240000px;}
.ls95{letter-spacing:-0.234000px;}
.lsdb{letter-spacing:-0.230400px;}
.ls68{letter-spacing:-0.216000px;}
.ls4e{letter-spacing:-0.213200px;}
.ls5b{letter-spacing:-0.211200px;}
.ls1b{letter-spacing:-0.207200px;}
.ls6d{letter-spacing:-0.206400px;}
.ls4f{letter-spacing:-0.202800px;}
.ls41{letter-spacing:-0.196000px;}
.ls69{letter-spacing:-0.192000px;}
.ls98{letter-spacing:-0.187200px;}
.ls6c{letter-spacing:-0.182400px;}
.ls19{letter-spacing:-0.179200px;}
.ls5a{letter-spacing:-0.177600px;}
.ls46{letter-spacing:-0.166400px;}
.ls5c{letter-spacing:-0.163200px;}
.ls2b{letter-spacing:-0.158400px;}
.ls53{letter-spacing:-0.156000px;}
.ls27{letter-spacing:-0.153600px;}
.ls99{letter-spacing:-0.151200px;}
.ls4d{letter-spacing:-0.150800px;}
.ls3d{letter-spacing:-0.145600px;}
.ls6a{letter-spacing:-0.144000px;}
.ls54{letter-spacing:-0.140400px;}
.ls29{letter-spacing:-0.134400px;}
.ls6f{letter-spacing:-0.129600px;}
.ls42{letter-spacing:-0.128800px;}
.ls44{letter-spacing:-0.124800px;}
.ls40{letter-spacing:-0.123200px;}
.ls48{letter-spacing:-0.119600px;}
.ls4b{letter-spacing:-0.114400px;}
.ls2a{letter-spacing:-0.110400px;}
.ls77{letter-spacing:-0.109200px;}
.ls26{letter-spacing:-0.105600px;}
.ls25{letter-spacing:-0.100800px;}
.ls85{letter-spacing:-0.098800px;}
.ls58{letter-spacing:-0.093600px;}
.ls3c{letter-spacing:-0.089600px;}
.ls55{letter-spacing:-0.088400px;}
.ls17{letter-spacing:-0.086400px;}
.ls97{letter-spacing:-0.084000px;}
.ls70{letter-spacing:-0.081600px;}
.ls71{letter-spacing:-0.076800px;}
.ls45{letter-spacing:-0.072800px;}
.lsb5{letter-spacing:-0.072000px;}
.ls47{letter-spacing:-0.067600px;}
.lsb2{letter-spacing:-0.066000px;}
.ls4c{letter-spacing:-0.062400px;}
.ls14{letter-spacing:-0.057600px;}
.ls24{letter-spacing:-0.052800px;}
.lsa6{letter-spacing:-0.050400px;}
.lsb7{letter-spacing:-0.048000px;}
.ls84{letter-spacing:-0.046800px;}
.ls9a{letter-spacing:-0.044800px;}
.lsb0{letter-spacing:-0.043200px;}
.ls59{letter-spacing:-0.041600px;}
.lsa7{letter-spacing:-0.039200px;}
.lsba{letter-spacing:-0.038400px;}
.ls87{letter-spacing:-0.036400px;}
.lsb4{letter-spacing:-0.033600px;}
.lsa8{letter-spacing:-0.031200px;}
.lsbd{letter-spacing:-0.028800px;}
.ls86{letter-spacing:-0.026000px;}
.lsb8{letter-spacing:-0.024000px;}
.ls9{letter-spacing:-0.022400px;}
.lsbf{letter-spacing:-0.014400px;}
.lsb3{letter-spacing:-0.013200px;}
.ls6b{letter-spacing:-0.009600px;}
.lsb6{letter-spacing:-0.008800px;}
.ls8e{letter-spacing:-0.005200px;}
.lsaf{letter-spacing:-0.004800px;}
.ls0{letter-spacing:0.000000px;}
.lsb1{letter-spacing:0.004800px;}
.lsbb{letter-spacing:0.009600px;}
.ls8d{letter-spacing:0.010400px;}
.ls15{letter-spacing:0.014400px;}
.lsa9{letter-spacing:0.015600px;}
.lscd{letter-spacing:0.018000px;}
.lsce{letter-spacing:0.019200px;}
.ls3f{letter-spacing:0.050400px;}
.ls96{letter-spacing:0.052000px;}
.lsaa{letter-spacing:0.067600px;}
.ls50{letter-spacing:0.083200px;}
.ls38{letter-spacing:0.088000px;}
.ls65{letter-spacing:0.088400px;}
.lscc{letter-spacing:0.093600px;}
.ls3a{letter-spacing:0.124000px;}
.ls36{letter-spacing:0.128000px;}
.ls3b{letter-spacing:0.132000px;}
.ls66{letter-spacing:0.135200px;}
.ls2f{letter-spacing:0.148000px;}
.ls56{letter-spacing:0.150800px;}
.ls39{letter-spacing:0.152000px;}
.ls11{letter-spacing:0.158400px;}
.lsd{letter-spacing:0.163200px;}
.ls35{letter-spacing:0.168000px;}
.ls2d{letter-spacing:0.172000px;}
.ls33{letter-spacing:0.176000px;}
.ls34{letter-spacing:0.188000px;}
.ls1{letter-spacing:0.190400px;}
.lsf{letter-spacing:0.192000px;}
.ls37{letter-spacing:0.196000px;}
.ls30{letter-spacing:0.200000px;}
.ls4{letter-spacing:0.201600px;}
.ls57{letter-spacing:0.202800px;}
.lse{letter-spacing:0.211200px;}
.ls2c{letter-spacing:0.212000px;}
.ls32{letter-spacing:0.216000px;}
.lsae{letter-spacing:0.224400px;}
.lsb{letter-spacing:0.225600px;}
.ls10{letter-spacing:0.240000px;}
.lsc{letter-spacing:0.244800px;}
.ls2{letter-spacing:0.246400px;}
.ls90{letter-spacing:0.280000px;}
.ls94{letter-spacing:0.285600px;}
.lsab{letter-spacing:0.291200px;}
.ls93{letter-spacing:0.341600px;}
.ls8f{letter-spacing:0.352800px;}
.lsad{letter-spacing:0.374400px;}
.lsa{letter-spacing:0.379200px;}
.lsa1{letter-spacing:0.440000px;}
.lsa0{letter-spacing:0.480000px;}
.ls67{letter-spacing:0.542400px;}
.lsa3{letter-spacing:0.768000px;}
.lsa5{letter-spacing:0.784000px;}
.lsa4{letter-spacing:0.808000px;}
.ls43{letter-spacing:1.133600px;}
.lsa2{letter-spacing:5.252000px;}
.ls31{letter-spacing:10.040000px;}
.ls72{letter-spacing:10.512000px;}
.ls2e{letter-spacing:10.520000px;}
.ls20{letter-spacing:11.092800px;}
.ls79{letter-spacing:11.466000px;}
.ls61{letter-spacing:11.472000px;}
.ls7a{letter-spacing:11.518000px;}
.lsbc{letter-spacing:11.572800px;}
.lsd7{letter-spacing:11.952000px;}
.ls28{letter-spacing:12.052800px;}
.ls81{letter-spacing:12.428000px;}
.ls76{letter-spacing:12.500800px;}
.ls49{letter-spacing:12.906400px;}
.ls51{letter-spacing:12.958400px;}
.lsac{letter-spacing:13.390000px;}
.ls88{letter-spacing:13.442000px;}
.ls3e{letter-spacing:13.865600px;}
.ls5{letter-spacing:14.095200px;}
.ls3{letter-spacing:14.179200px;}
.ls16{letter-spacing:17.956800px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._7{margin-left:-17.899200px;}
._2{margin-left:-13.865600px;}
._a{margin-left:-11.836800px;}
._b{margin-left:-10.151200px;}
._c{margin-left:-8.980800px;}
._4{margin-left:-1.551200px;}
._0{width:1.243200px;}
._1a{width:2.364800px;}
._17{width:3.480000px;}
._9{width:10.274400px;}
._5{width:12.129600px;}
._3{width:13.557600px;}
._1{width:14.610400px;}
._d{width:17.113200px;}
._6{width:18.655200px;}
._10{width:21.528000px;}
._8{width:22.839200px;}
._f{width:24.168000px;}
._e{width:26.228800px;}
._1b{width:54.182400px;}
._13{width:124.694400px;}
._18{width:135.143200px;}
._15{width:143.184000px;}
._14{width:157.284800px;}
._19{width:163.058000px;}
._12{width:230.630000px;}
._16{width:244.214400px;}
._11{width:303.168800px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:31.999600px;}
.fs8{font-size:36.000000px;}
.fs5{font-size:40.000000px;}
.fs1{font-size:44.000000px;}
.fs3{font-size:48.000000px;}
.fs6{font-size:52.000000px;}
.fs0{font-size:56.000000px;}
.fs7{font-size:64.000000px;}
.fs4{font-size:72.000000px;}
.y61{bottom:2.700000px;}
.y5f{bottom:27.060000px;}
.y5e{bottom:46.500000px;}
.y5d{bottom:66.120000px;}
.y54{bottom:94.380000px;}
.y58{bottom:96.540000px;}
.y5b{bottom:99.960000px;}
.y57{bottom:111.660000px;}
.y53{bottom:113.100000px;}
.y5a{bottom:113.460000px;}
.y59{bottom:126.960000px;}
.y56{bottom:129.300000px;}
.y52{bottom:131.820000px;}
.y51{bottom:150.540000px;}
.y55{bottom:152.700000px;}
.y4f{bottom:180.960000px;}
.y4e{bottom:180.960600px;}
.y50{bottom:214.800000px;}
.y31{bottom:240.180000px;}
.y30{bottom:270.240000px;}
.y2f{bottom:299.040000px;}
.y2e{bottom:299.041200px;}
.y45{bottom:299.939400px;}
.y2d{bottom:320.641350px;}
.y44{bottom:321.719400px;}
.y2c{bottom:342.420900px;}
.y2b{bottom:364.200450px;}
.y2a{bottom:385.980000px;}
.y29{bottom:407.760000px;}
.y43{bottom:408.659550px;}
.y28{bottom:429.540000px;}
.y27{bottom:451.140000px;}
.y42{bottom:452.219550px;}
.y26{bottom:472.920000px;}
.y25{bottom:494.700000px;}
.y41{bottom:495.599700px;}
.y24{bottom:516.480000px;}
.y23{bottom:538.260000px;}
.y40{bottom:539.159700px;}
.y22{bottom:560.040000px;}
.y21{bottom:581.640000px;}
.y3f{bottom:582.719700px;}
.y20{bottom:603.420000px;}
.y3e{bottom:604.499700px;}
.y1f{bottom:625.200000px;}
.y3d{bottom:626.099850px;}
.y1e{bottom:646.980000px;}
.y3c{bottom:647.879850px;}
.y1d{bottom:668.760000px;}
.y1c{bottom:668.762100px;}
.y1b{bottom:690.362250px;}
.y1a{bottom:712.141800px;}
.y19{bottom:733.921350px;}
.y3b{bottom:734.999850px;}
.y18{bottom:755.700900px;}
.y3a{bottom:756.600000px;}
.y17{bottom:777.480450px;}
.y39{bottom:778.380000px;}
.y16{bottom:799.260000px;}
.y38{bottom:800.160000px;}
.y4d{bottom:822.300600px;}
.y15{bottom:825.540000px;}
.y13{bottom:834.360000px;}
.y4c{bottom:844.800000px;}
.y14{bottom:848.039400px;}
.y47{bottom:873.420000px;}
.y37{bottom:876.840000px;}
.y46{bottom:888.360000px;}
.y36{bottom:904.560000px;}
.y12{bottom:932.280000px;}
.y35{bottom:944.880000px;}
.y11{bottom:969.900000px;}
.y34{bottom:983.940000px;}
.y33{bottom:983.940600px;}
.y49{bottom:984.741000px;}
.y48{bottom:986.820000px;}
.y32{bottom:1012.740000px;}
.y4b{bottom:1013.090400px;}
.y4a{bottom:1013.240550px;}
.y5c{bottom:1017.960000px;}
.y10{bottom:1046.580000px;}
.y3{bottom:1058.100000px;}
.yf{bottom:1081.860000px;}
.y4{bottom:1092.063600px;}
.y1{bottom:1093.199700px;}
.y2{bottom:1093.200000px;}
.y7{bottom:1094.100000px;}
.y6{bottom:1116.137850px;}
.y5{bottom:1116.287850px;}
.y0{bottom:1117.860000px;}
.y8{bottom:1119.120000px;}
.yc{bottom:1147.560000px;}
.ya{bottom:1149.000000px;}
.y9{bottom:1170.600000px;}
.yb{bottom:1171.680000px;}
.ye{bottom:1203.360000px;}
.yd{bottom:1224.960000px;}
.y60{bottom:1233.300000px;}
.h3{height:21.327858px;}
.h11{height:22.200000px;}
.he{height:26.660156px;}
.h2{height:29.326172px;}
.h10{height:32.150391px;}
.hf{height:34.658203px;}
.h8{height:35.722656px;}
.h4{height:42.621094px;}
.h5{height:42.867188px;}
.ha{height:44.296875px;}
.hb{height:46.172852px;}
.hc{height:46.439453px;}
.h9{height:47.988281px;}
.h1{height:49.724609px;}
.h7{height:50.011719px;}
.hd{height:56.828125px;}
.h12{height:57.859375px;}
.h6{height:63.931641px;}
.h0{height:1263.000000px;}
.w1{width:119.400000px;}
.w0{width:892.500000px;}
.x35{left:7.770000px;}
.x32{left:29.553600px;}
.x15{left:50.790000px;}
.x26{left:52.950000px;}
.x0{left:60.150000px;}
.x1b{left:62.310000px;}
.x1{left:74.370000px;}
.x1c{left:79.216500px;}
.x17{left:85.170000px;}
.x23{left:86.430000px;}
.x16{left:98.850000px;}
.x1d{left:100.457850px;}
.x2c{left:119.548200px;}
.x1e{left:128.181000px;}
.x21{left:136.110000px;}
.x2b{left:147.090000px;}
.x20{left:170.319000px;}
.x18{left:184.890000px;}
.x1f{left:208.711650px;}
.x27{left:232.230000px;}
.x13{left:318.810000px;}
.x14{left:332.130000px;}
.x33{left:340.051800px;}
.x24{left:341.670000px;}
.x11{left:359.315400px;}
.x2d{left:398.550000px;}
.x22{left:414.750000px;}
.x10{left:478.470000px;}
.x28{left:480.270000px;}
.x25{left:490.710000px;}
.x2e{left:496.656450px;}
.x1a{left:502.044600px;}
.x2f{left:511.230000px;}
.x19{left:522.924900px;}
.xd{left:606.971250px;}
.xe{left:624.970950px;}
.xa{left:643.570500px;}
.x5{left:673.719300px;}
.xc{left:689.469000px;}
.x6{left:691.719150px;}
.x8{left:706.568550px;}
.x7{left:709.718850px;}
.x9{left:724.568250px;}
.x34{left:734.703000px;}
.xb{left:742.568100px;}
.x12{left:748.119000px;}
.x2a{left:752.428200px;}
.x2{left:754.717500px;}
.x29{left:760.530000px;}
.x30{left:769.710000px;}
.x3{left:772.717350px;}
.x31{left:779.609550px;}
.xf{left:788.391600px;}
.x4{left:790.717050px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsc6{letter-spacing:-2.624356pt;}
.ls7{letter-spacing:-1.423644pt;}
.ls91{letter-spacing:-1.353956pt;}
.ls9f{letter-spacing:-1.298489pt;}
.ls7c{letter-spacing:-1.284978pt;}
.ls9e{letter-spacing:-1.263289pt;}
.ls78{letter-spacing:-1.261867pt;}
.ls7e{letter-spacing:-1.257244pt;}
.ls7b{letter-spacing:-1.238756pt;}
.lsc5{letter-spacing:-1.215644pt;}
.ls7d{letter-spacing:-1.211022pt;}
.ls9d{letter-spacing:-1.196800pt;}
.lsc3{letter-spacing:-1.183289pt;}
.ls9c{letter-spacing:-1.165511pt;}
.ls8{letter-spacing:-1.134222pt;}
.ls9b{letter-spacing:-1.130311pt;}
.ls89{letter-spacing:-1.123200pt;}
.ls92{letter-spacing:-1.102933pt;}
.ls6{letter-spacing:-1.079467pt;}
.lsc8{letter-spacing:-1.040356pt;}
.lsc7{letter-spacing:-1.036444pt;}
.ls73{letter-spacing:-1.019733pt;}
.ls8a{letter-spacing:-1.012978pt;}
.ls74{letter-spacing:-1.009067pt;}
.lsc4{letter-spacing:-0.923022pt;}
.ls22{letter-spacing:-0.776533pt;}
.ls1f{letter-spacing:-0.763733pt;}
.ls21{letter-spacing:-0.759467pt;}
.ls23{letter-spacing:-0.733867pt;}
.ls1e{letter-spacing:-0.721067pt;}
.lsc1{letter-spacing:-0.674844pt;}
.ls8c{letter-spacing:-0.637867pt;}
.lsb9{letter-spacing:-0.631467pt;}
.lsc2{letter-spacing:-0.628622pt;}
.ls8b{letter-spacing:-0.591644pt;}
.ls1d{letter-spacing:-0.588800pt;}
.ls64{letter-spacing:-0.558933pt;}
.ls60{letter-spacing:-0.554667pt;}
.ls1c{letter-spacing:-0.546133pt;}
.ls63{letter-spacing:-0.524089pt;}
.ls62{letter-spacing:-0.507733pt;}
.ls5f{letter-spacing:-0.477867pt;}
.ls5d{letter-spacing:-0.435200pt;}
.lsd4{letter-spacing:-0.388267pt;}
.lsbe{letter-spacing:-0.384000pt;}
.lsd3{letter-spacing:-0.379733pt;}
.lsd2{letter-spacing:-0.375467pt;}
.ls82{letter-spacing:-0.360533pt;}
.ls83{letter-spacing:-0.355911pt;}
.ls12{letter-spacing:-0.354133pt;}
.lscb{letter-spacing:-0.351289pt;}
.lsd5{letter-spacing:-0.345600pt;}
.lsc9{letter-spacing:-0.342044pt;}
.lsd0{letter-spacing:-0.341333pt;}
.ls13{letter-spacing:-0.340267pt;}
.ls7f{letter-spacing:-0.337422pt;}
.ls80{letter-spacing:-0.323556pt;}
.lsd1{letter-spacing:-0.311467pt;}
.lsca{letter-spacing:-0.305067pt;}
.lsc0{letter-spacing:-0.281600pt;}
.ls75{letter-spacing:-0.272711pt;}
.ls4a{letter-spacing:-0.263467pt;}
.lsd6{letter-spacing:-0.260267pt;}
.lsd9{letter-spacing:-0.251733pt;}
.lsda{letter-spacing:-0.247467pt;}
.lsdc{letter-spacing:-0.243200pt;}
.ls18{letter-spacing:-0.238933pt;}
.lsd8{letter-spacing:-0.234667pt;}
.ls1a{letter-spacing:-0.233956pt;}
.ls6e{letter-spacing:-0.226133pt;}
.ls52{letter-spacing:-0.221867pt;}
.lscf{letter-spacing:-0.217600pt;}
.ls5e{letter-spacing:-0.213333pt;}
.ls95{letter-spacing:-0.208000pt;}
.lsdb{letter-spacing:-0.204800pt;}
.ls68{letter-spacing:-0.192000pt;}
.ls4e{letter-spacing:-0.189511pt;}
.ls5b{letter-spacing:-0.187733pt;}
.ls1b{letter-spacing:-0.184178pt;}
.ls6d{letter-spacing:-0.183467pt;}
.ls4f{letter-spacing:-0.180267pt;}
.ls41{letter-spacing:-0.174222pt;}
.ls69{letter-spacing:-0.170667pt;}
.ls98{letter-spacing:-0.166400pt;}
.ls6c{letter-spacing:-0.162133pt;}
.ls19{letter-spacing:-0.159289pt;}
.ls5a{letter-spacing:-0.157867pt;}
.ls46{letter-spacing:-0.147911pt;}
.ls5c{letter-spacing:-0.145067pt;}
.ls2b{letter-spacing:-0.140800pt;}
.ls53{letter-spacing:-0.138667pt;}
.ls27{letter-spacing:-0.136533pt;}
.ls99{letter-spacing:-0.134400pt;}
.ls4d{letter-spacing:-0.134044pt;}
.ls3d{letter-spacing:-0.129422pt;}
.ls6a{letter-spacing:-0.128000pt;}
.ls54{letter-spacing:-0.124800pt;}
.ls29{letter-spacing:-0.119467pt;}
.ls6f{letter-spacing:-0.115200pt;}
.ls42{letter-spacing:-0.114489pt;}
.ls44{letter-spacing:-0.110933pt;}
.ls40{letter-spacing:-0.109511pt;}
.ls48{letter-spacing:-0.106311pt;}
.ls4b{letter-spacing:-0.101689pt;}
.ls2a{letter-spacing:-0.098133pt;}
.ls77{letter-spacing:-0.097067pt;}
.ls26{letter-spacing:-0.093867pt;}
.ls25{letter-spacing:-0.089600pt;}
.ls85{letter-spacing:-0.087822pt;}
.ls58{letter-spacing:-0.083200pt;}
.ls3c{letter-spacing:-0.079644pt;}
.ls55{letter-spacing:-0.078578pt;}
.ls17{letter-spacing:-0.076800pt;}
.ls97{letter-spacing:-0.074667pt;}
.ls70{letter-spacing:-0.072533pt;}
.ls71{letter-spacing:-0.068267pt;}
.ls45{letter-spacing:-0.064711pt;}
.lsb5{letter-spacing:-0.064000pt;}
.ls47{letter-spacing:-0.060089pt;}
.lsb2{letter-spacing:-0.058667pt;}
.ls4c{letter-spacing:-0.055467pt;}
.ls14{letter-spacing:-0.051200pt;}
.ls24{letter-spacing:-0.046933pt;}
.lsa6{letter-spacing:-0.044800pt;}
.lsb7{letter-spacing:-0.042667pt;}
.ls84{letter-spacing:-0.041600pt;}
.ls9a{letter-spacing:-0.039822pt;}
.lsb0{letter-spacing:-0.038400pt;}
.ls59{letter-spacing:-0.036978pt;}
.lsa7{letter-spacing:-0.034844pt;}
.lsba{letter-spacing:-0.034133pt;}
.ls87{letter-spacing:-0.032356pt;}
.lsb4{letter-spacing:-0.029867pt;}
.lsa8{letter-spacing:-0.027733pt;}
.lsbd{letter-spacing:-0.025600pt;}
.ls86{letter-spacing:-0.023111pt;}
.lsb8{letter-spacing:-0.021333pt;}
.ls9{letter-spacing:-0.019911pt;}
.lsbf{letter-spacing:-0.012800pt;}
.lsb3{letter-spacing:-0.011733pt;}
.ls6b{letter-spacing:-0.008533pt;}
.lsb6{letter-spacing:-0.007822pt;}
.ls8e{letter-spacing:-0.004622pt;}
.lsaf{letter-spacing:-0.004267pt;}
.ls0{letter-spacing:0.000000pt;}
.lsb1{letter-spacing:0.004267pt;}
.lsbb{letter-spacing:0.008533pt;}
.ls8d{letter-spacing:0.009244pt;}
.ls15{letter-spacing:0.012800pt;}
.lsa9{letter-spacing:0.013867pt;}
.lscd{letter-spacing:0.016000pt;}
.lsce{letter-spacing:0.017067pt;}
.ls3f{letter-spacing:0.044800pt;}
.ls96{letter-spacing:0.046222pt;}
.lsaa{letter-spacing:0.060089pt;}
.ls50{letter-spacing:0.073956pt;}
.ls38{letter-spacing:0.078222pt;}
.ls65{letter-spacing:0.078578pt;}
.lscc{letter-spacing:0.083200pt;}
.ls3a{letter-spacing:0.110222pt;}
.ls36{letter-spacing:0.113778pt;}
.ls3b{letter-spacing:0.117333pt;}
.ls66{letter-spacing:0.120178pt;}
.ls2f{letter-spacing:0.131556pt;}
.ls56{letter-spacing:0.134044pt;}
.ls39{letter-spacing:0.135111pt;}
.ls11{letter-spacing:0.140800pt;}
.lsd{letter-spacing:0.145067pt;}
.ls35{letter-spacing:0.149333pt;}
.ls2d{letter-spacing:0.152889pt;}
.ls33{letter-spacing:0.156444pt;}
.ls34{letter-spacing:0.167111pt;}
.ls1{letter-spacing:0.169244pt;}
.lsf{letter-spacing:0.170667pt;}
.ls37{letter-spacing:0.174222pt;}
.ls30{letter-spacing:0.177778pt;}
.ls4{letter-spacing:0.179200pt;}
.ls57{letter-spacing:0.180267pt;}
.lse{letter-spacing:0.187733pt;}
.ls2c{letter-spacing:0.188444pt;}
.ls32{letter-spacing:0.192000pt;}
.lsae{letter-spacing:0.199467pt;}
.lsb{letter-spacing:0.200533pt;}
.ls10{letter-spacing:0.213333pt;}
.lsc{letter-spacing:0.217600pt;}
.ls2{letter-spacing:0.219022pt;}
.ls90{letter-spacing:0.248889pt;}
.ls94{letter-spacing:0.253867pt;}
.lsab{letter-spacing:0.258844pt;}
.ls93{letter-spacing:0.303644pt;}
.ls8f{letter-spacing:0.313600pt;}
.lsad{letter-spacing:0.332800pt;}
.lsa{letter-spacing:0.337067pt;}
.lsa1{letter-spacing:0.391111pt;}
.lsa0{letter-spacing:0.426667pt;}
.ls67{letter-spacing:0.482133pt;}
.lsa3{letter-spacing:0.682667pt;}
.lsa5{letter-spacing:0.696889pt;}
.lsa4{letter-spacing:0.718222pt;}
.ls43{letter-spacing:1.007644pt;}
.lsa2{letter-spacing:4.668444pt;}
.ls31{letter-spacing:8.924444pt;}
.ls72{letter-spacing:9.344000pt;}
.ls2e{letter-spacing:9.351111pt;}
.ls20{letter-spacing:9.860267pt;}
.ls79{letter-spacing:10.192000pt;}
.ls61{letter-spacing:10.197333pt;}
.ls7a{letter-spacing:10.238222pt;}
.lsbc{letter-spacing:10.286933pt;}
.lsd7{letter-spacing:10.624000pt;}
.ls28{letter-spacing:10.713600pt;}
.ls81{letter-spacing:11.047111pt;}
.ls76{letter-spacing:11.111822pt;}
.ls49{letter-spacing:11.472356pt;}
.ls51{letter-spacing:11.518578pt;}
.lsac{letter-spacing:11.902222pt;}
.ls88{letter-spacing:11.948444pt;}
.ls3e{letter-spacing:12.324978pt;}
.ls5{letter-spacing:12.529067pt;}
.ls3{letter-spacing:12.603733pt;}
.ls16{letter-spacing:15.961600pt;}
.ws0{word-spacing:0.000000pt;}
._7{margin-left:-15.910400pt;}
._2{margin-left:-12.324978pt;}
._a{margin-left:-10.521600pt;}
._b{margin-left:-9.023289pt;}
._c{margin-left:-7.982933pt;}
._4{margin-left:-1.378844pt;}
._0{width:1.105067pt;}
._1a{width:2.102044pt;}
._17{width:3.093333pt;}
._9{width:9.132800pt;}
._5{width:10.781867pt;}
._3{width:12.051200pt;}
._1{width:12.987022pt;}
._d{width:15.211733pt;}
._6{width:16.582400pt;}
._10{width:19.136000pt;}
._8{width:20.301511pt;}
._f{width:21.482667pt;}
._e{width:23.314489pt;}
._1b{width:48.162133pt;}
._13{width:110.839467pt;}
._18{width:120.127289pt;}
._15{width:127.274667pt;}
._14{width:139.808711pt;}
._19{width:144.940444pt;}
._12{width:205.004444pt;}
._16{width:217.079467pt;}
._11{width:269.483378pt;}
.fs2{font-size:28.444089pt;}
.fs8{font-size:32.000000pt;}
.fs5{font-size:35.555556pt;}
.fs1{font-size:39.111111pt;}
.fs3{font-size:42.666667pt;}
.fs6{font-size:46.222222pt;}
.fs0{font-size:49.777778pt;}
.fs7{font-size:56.888889pt;}
.fs4{font-size:64.000000pt;}
.y61{bottom:2.400000pt;}
.y5f{bottom:24.053333pt;}
.y5e{bottom:41.333333pt;}
.y5d{bottom:58.773333pt;}
.y54{bottom:83.893333pt;}
.y58{bottom:85.813333pt;}
.y5b{bottom:88.853333pt;}
.y57{bottom:99.253333pt;}
.y53{bottom:100.533333pt;}
.y5a{bottom:100.853333pt;}
.y59{bottom:112.853333pt;}
.y56{bottom:114.933333pt;}
.y52{bottom:117.173333pt;}
.y51{bottom:133.813333pt;}
.y55{bottom:135.733333pt;}
.y4f{bottom:160.853333pt;}
.y4e{bottom:160.853867pt;}
.y50{bottom:190.933333pt;}
.y31{bottom:213.493333pt;}
.y30{bottom:240.213333pt;}
.y2f{bottom:265.813333pt;}
.y2e{bottom:265.814400pt;}
.y45{bottom:266.612800pt;}
.y2d{bottom:285.014533pt;}
.y44{bottom:285.972800pt;}
.y2c{bottom:304.374133pt;}
.y2b{bottom:323.733733pt;}
.y2a{bottom:343.093333pt;}
.y29{bottom:362.453333pt;}
.y43{bottom:363.252933pt;}
.y28{bottom:381.813333pt;}
.y27{bottom:401.013333pt;}
.y42{bottom:401.972933pt;}
.y26{bottom:420.373333pt;}
.y25{bottom:439.733333pt;}
.y41{bottom:440.533067pt;}
.y24{bottom:459.093333pt;}
.y23{bottom:478.453333pt;}
.y40{bottom:479.253067pt;}
.y22{bottom:497.813333pt;}
.y21{bottom:517.013333pt;}
.y3f{bottom:517.973067pt;}
.y20{bottom:536.373333pt;}
.y3e{bottom:537.333067pt;}
.y1f{bottom:555.733333pt;}
.y3d{bottom:556.533200pt;}
.y1e{bottom:575.093333pt;}
.y3c{bottom:575.893200pt;}
.y1d{bottom:594.453333pt;}
.y1c{bottom:594.455200pt;}
.y1b{bottom:613.655333pt;}
.y1a{bottom:633.014933pt;}
.y19{bottom:652.374533pt;}
.y3b{bottom:653.333200pt;}
.y18{bottom:671.734133pt;}
.y3a{bottom:672.533333pt;}
.y17{bottom:691.093733pt;}
.y39{bottom:691.893333pt;}
.y16{bottom:710.453333pt;}
.y38{bottom:711.253333pt;}
.y4d{bottom:730.933867pt;}
.y15{bottom:733.813333pt;}
.y13{bottom:741.653333pt;}
.y4c{bottom:750.933333pt;}
.y14{bottom:753.812800pt;}
.y47{bottom:776.373333pt;}
.y37{bottom:779.413333pt;}
.y46{bottom:789.653333pt;}
.y36{bottom:804.053333pt;}
.y12{bottom:828.693333pt;}
.y35{bottom:839.893333pt;}
.y11{bottom:862.133333pt;}
.y34{bottom:874.613333pt;}
.y33{bottom:874.613867pt;}
.y49{bottom:875.325333pt;}
.y48{bottom:877.173333pt;}
.y32{bottom:900.213333pt;}
.y4b{bottom:900.524800pt;}
.y4a{bottom:900.658267pt;}
.y5c{bottom:904.853333pt;}
.y10{bottom:930.293333pt;}
.y3{bottom:940.533333pt;}
.yf{bottom:961.653333pt;}
.y4{bottom:970.723200pt;}
.y1{bottom:971.733067pt;}
.y2{bottom:971.733333pt;}
.y7{bottom:972.533333pt;}
.y6{bottom:992.122533pt;}
.y5{bottom:992.255867pt;}
.y0{bottom:993.653333pt;}
.y8{bottom:994.773333pt;}
.yc{bottom:1020.053333pt;}
.ya{bottom:1021.333333pt;}
.y9{bottom:1040.533333pt;}
.yb{bottom:1041.493333pt;}
.ye{bottom:1069.653333pt;}
.yd{bottom:1088.853333pt;}
.y60{bottom:1096.266667pt;}
.h3{height:18.958096pt;}
.h11{height:19.733333pt;}
.he{height:23.697917pt;}
.h2{height:26.067708pt;}
.h10{height:28.578125pt;}
.hf{height:30.807292pt;}
.h8{height:31.753472pt;}
.h4{height:37.885417pt;}
.h5{height:38.104167pt;}
.ha{height:39.375000pt;}
.hb{height:41.042535pt;}
.hc{height:41.279514pt;}
.h9{height:42.656250pt;}
.h1{height:44.199653pt;}
.h7{height:44.454861pt;}
.hd{height:50.513889pt;}
.h12{height:51.430556pt;}
.h6{height:56.828125pt;}
.h0{height:1122.666667pt;}
.w1{width:106.133333pt;}
.w0{width:793.333333pt;}
.x35{left:6.906667pt;}
.x32{left:26.269867pt;}
.x15{left:45.146667pt;}
.x26{left:47.066667pt;}
.x0{left:53.466667pt;}
.x1b{left:55.386667pt;}
.x1{left:66.106667pt;}
.x1c{left:70.414667pt;}
.x17{left:75.706667pt;}
.x23{left:76.826667pt;}
.x16{left:87.866667pt;}
.x1d{left:89.295867pt;}
.x2c{left:106.265067pt;}
.x1e{left:113.938667pt;}
.x21{left:120.986667pt;}
.x2b{left:130.746667pt;}
.x20{left:151.394667pt;}
.x18{left:164.346667pt;}
.x1f{left:185.521467pt;}
.x27{left:206.426667pt;}
.x13{left:283.386667pt;}
.x14{left:295.226667pt;}
.x33{left:302.268267pt;}
.x24{left:303.706667pt;}
.x11{left:319.391467pt;}
.x2d{left:354.266667pt;}
.x22{left:368.666667pt;}
.x10{left:425.306667pt;}
.x28{left:426.906667pt;}
.x25{left:436.186667pt;}
.x2e{left:441.472400pt;}
.x1a{left:446.261867pt;}
.x2f{left:454.426667pt;}
.x19{left:464.822133pt;}
.xd{left:539.530000pt;}
.xe{left:555.529733pt;}
.xa{left:572.062667pt;}
.x5{left:598.861600pt;}
.xc{left:612.861333pt;}
.x6{left:614.861467pt;}
.x8{left:628.060933pt;}
.x7{left:630.861200pt;}
.x9{left:644.060667pt;}
.x34{left:653.069333pt;}
.xb{left:660.060533pt;}
.x12{left:664.994667pt;}
.x2a{left:668.825067pt;}
.x2{left:670.860000pt;}
.x29{left:676.026667pt;}
.x30{left:684.186667pt;}
.x3{left:686.859867pt;}
.x31{left:692.986267pt;}
.xf{left:700.792533pt;}
.x4{left:702.859600pt;}
}
